/*html {background-color: #EEC591;}*/
#ajax {background-color: #EEC591;
	}	
h1,h2,p,h5 {color: #171717;;
font-family: Century Gothic, sans-serif;
	}
h5.projects{display:inline;
	}
img.projects{
	box-shadow: 10px 10px 5px #888888
}
p
#text{
	max-width: 70%;
	margin-left: auto ;
  margin-right: auto ;
	float: center;
}